In [1]:
import pandas as pd

In [19]:
base = pd.read_csv('../API/MoviesPopular.csv')
print(base.columns)

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [20]:
base = base.drop(['Unnamed: 0','backdrop_path','homepage', 'poster_path', 'video', 'status'], axis=1)

In [21]:
base

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",897087,tt15744298,en,Freelance,An ex-special forces operative takes a job to ...,2367.027,"[{'id': 89171, 'logo_path': '/c3ttVfx0itQzk2vO...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-05,8000000.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Retirement didn't suit him.,Freelance,6.419,192.0
1,False,NaN,200000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",466420,tt5537002,en,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,1806.389,"[{'id': 194232, 'logo_path': '/oE7H93u8sy5vvW5...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-18,155500000.0,206.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Greed is an animal that hungers for blood.,Killers of the Flower Moon,7.711,1258.0
2,False,"{'id': 489724, 'name': 'The Trolls Collection'...",95000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",901362,tt14362112,en,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",1560.713,"[{'id': 521, 'logo_path': '/kP7t6RwGz2AvvTkvnI...","[{'iso_3166_1': 'US', 'name': 'United States o...",2023-10-12,173800000.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There are some new trolls on the block.,Trolls Band Together,7.204,324.0
3,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1075794,tt5755238,en,Leo,Jaded 74-year-old lizard Leo has been stuck in...,1303.89,"[{'id': 878, 'logo_path': '/e2AZdsQdkhN0qJhoN4...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",2023-11-17,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Breaking out this November.,Leo,7.560,497.0
4,False,NaN,125000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",787699,tt6166392,en,Wonka,Willy Wonka â€“ chock-full of ideas and determin...,1256.256,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2023-12-06,43200000.0,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Every good thing in this world started with a ...,Wonka,7.000,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,False,"{'id': 124901, 'name': 'Hatchet Collection', '...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",472338,tt5534434,en,Victor Crowley,"Ten years ago, over forty people were brutally...",30.668,"[{'id': 3960, 'logo_path': None, 'name': 'Arie...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-09-12,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Return to his Swamp,Victor Crowley,5.700,235.0
9997,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",605116,tt7550000,en,Project Power,"An ex-soldier, a teen and a cop collide in New...",30.55,"[{'id': 102118, 'logo_path': None, 'name': 'Sc...","[{'iso_3166_1': 'US', 'name': 'United States o...",2020-08-14,0.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",What would you risk for five minutes of pure p...,Project Power,6.474,2666.0
9998,False,"{'id': 8917, 'name': 'Hellraiser Collection', ...",4000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17455,tt0337636,en,Hellraiser: Deader,"In London, after investigating crack addicted ...",30.664,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'is...",2005-06-07,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Latest. Most Terrifying Evil.,Hellraiser: Deader,4.600,292.0
9999,False,NaN,45000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",15045,tt0396592,en,Fat Albert,Animated character Fat Albert emerges from his...,30.536,"[{'id': 89719, 'logo_path': None, 'name': 'Cul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-12-25,48600000.0,93.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Hey! Hey! Hey!,Fat Albert,5.100,242.0
10000,False,NaN,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",541,tt0048347,en,The Man with the Golden Arm,A junkie must face his true self to kick his d...,30.664,"[{'id': 3266, 'logo_path': None, 'name': 'Otto...","[{'iso_3166_1': 'US', 'name': 'United States o...",1955-12-26,4350000.0,119.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",An 'untouchable' themeâ€¦an unusual motion picture!,The Man with the Golden Arm,7.200,200.0

In [6]:
def extract_value(dictionary):
    return dictionary.get('name', None)

base['belongs_to_collection'] = base['belongs_to_collection'].apply(lambda x: extract_value(x))

AttributeError: 'float' object has no attribute 'get'

In [12]:
base['belongs_to_collection'][2]

"{'id': 489724, 'name': 'The Trolls Collection', 'poster_path': '/i4aII37O184x7K3dC7fpF9CAfS4.jpg', 'backdrop_path': '/xtgonS6wcxK5RfnWWohYZF3mhjM.jpg'}"

In [15]:
import pandas as pd
import ast  


def extract_value(json_str):
    try:
        value = ast.literal_eval(json_str)
        if isinstance(value, dict):
            # Change 'desired_key' to the key you want to keep
            return value.get('name', None)
        elif isinstance(value, list):
            # Change index to the position of the value you want to keep in the list
            return value[0] if len(value) > 0 else None
        else:
            return None  # Handle other types if necessary
    except (ValueError, SyntaxError):
        return None  # Handle invalid or 

# Apply the function to the DataFrame column
base['belongs_to_collection'] = base['belongs_to_collection'].apply(lambda x: extract_value(x))

# If you want to drop the original key, you can do so using the drop method
# df = df.drop('original_key', axis=1)

# Display the modified DataFrame
print(base)

       adult belongs_to_collection     budget  \
0      False                  None   40000000
1      False                  None  200000000
2      False                  None   95000000
3      False                  None          0
4      False                  None  125000000
...      ...                   ...        ...
9996   False                  None          0
9997   False                  None          0
9998   False                  None    4000000
9999   False                  None   45000000
10000  False                  None    1000000

                                                  genres       id     imdb_id  \
0      [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...   897087  tt15744298
1      [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...   466420   tt5537002
2      [{'id': 16, 'name': 'Animation'}, {'id': 10751...   901362  tt14362112
3      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  1075794   tt5755238
4      [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...   787699   tt6166392
...                                                  ...      ...         ...
9996   [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...   472338   tt5534434
9997   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...   605116   tt7550000
9998   [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...    17455   tt0337636
9999   [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...    15045   tt0396592
10000  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...      541   tt0048347

      original_language               original_title  \
0                    en                    Freelance
1                    en   Killers of the Flower Moon
2                    en         Trolls Band Together
3                    en                          Leo
4                    en                        Wonka
...                 ...                          ...
9996                 en               Victor Crowley
9997                 en                Project Power
9998                 en           Hellraiser: Deader
9999                 en                   Fat Albert
10000                en  The Man with the Golden Arm

                                                overview popularity  ...  \
0      An ex-special forces operative takes a job to ...   2367.027  ...
1      When oil is discovered in 1920s Oklahoma under...   1806.389  ...
2      When Branch's brother, Floyd, is kidnapped for...   1560.713  ...
3      Jaded 74-year-old lizard Leo has been stuck in...    1303.89  ...
4      Willy Wonka â€“ chock-full of ideas and determin...   1256.256  ...
...                                                  ...        ...  ...
9996   Ten years ago, over forty people were brutally...     30.668  ...
9997   An ex-soldier, a teen and a cop collide in New...      30.55  ...
9998   In London, after investigating crack addicted ...     30.664  ...
9999   Animated character Fat Albert emerges from his...     30.536  ...
10000  A junkie must face his true self to kick his d...     30.664  ...

                                    production_countries release_date  \
0      [{'iso_3166_1': 'US', 'name': 'United States o...   2023-10-05
1      [{'iso_3166_1': 'US', 'name': 'United States o...   2023-10-18
2      [{'iso_3166_1': 'US', 'name': 'United States o...   2023-10-12
3      [{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...   2023-11-17
4      [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...   2023-12-06
...                                                  ...          ...
9996   [{'iso_3166_1': 'US', 'name': 'United States o...   2017-09-12
9997   [{'iso_3166_1': 'US', 'name': 'United States o...   2020-08-14
9998   [{'iso_3166_1': 'RO', 'name': 'Romania'}, {'is...   2005-06-07
9999   [{'iso_3166_1': 'US', 'name': 'United States o...   2004-12-25
10000  [{'iso_3166_1': 'US', 'name': 'United States o...   1955-12-26

           revenue  runtime  \
0        8000000.0    108.0
1      155500000.0    206.0
2      173800000.0     92.0
3              0.0    102.0
4       43200000.0    117.0
...            ...      ...
9996           0.0     83.0
9997           0.0    113.0
9998           0.0     88.0
9999    48600000.0     93.0
10000    4350000.0    119.0

                                        spoken_languages    status  \
0      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
1      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
2      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
3      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
4      [{'english_name': 'English', 'iso_639_1': 'en'...  Released
...                                                  ...       ...
9996   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9997   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9998   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
9999   [{'english_name': 'English', 'iso_639_1': 'en'...  Released
10000  [{'english_name': 'English', 'iso_639_1': 'en'...  Released

                                                 tagline  \
0                            Retirement didn't suit him.
1             Greed is an animal that hungers for blood.
2                There are some new trolls on the block.
3                            Breaking out this November.
4      Every good thing in this world started with a ...
...                                                  ...
9996                                 Return to his Swamp
9997   What would you risk for five minutes of pure p...
9998                   The Latest. Most Terrifying Evil.
9999                                      Hey! Hey! Hey!
10000  An 'untouchable' themeâ€¦an unusual motion picture!

                             title vote_average  vote_count
0                        Freelance        6.419       192.0
1       Killers of the Flower Moon        7.711      1258.0
2             Trolls Band Together        7.204       324.0
3                              Leo        7.560       497.0
4                            Wonka        7.000        62.0
...                            ...          ...         ...
9996                Victor Crowley        5.700       235.0
9997                 Project Power        6.474      2666.0
9998            Hellraiser: Deader        4.600       292.0
9999                    Fat Albert        5.100       242.0
10000  The Man with the Golden Arm        7.200       200.0

[10001 rows x 21 columns]